{
	"smtp" : {
		"host" : "posta.famnit.upr.si",
		"username" : "",
		"password" : "",
		"secure" : "tls",
		"port" : 587,
		"from" : "",
		"to" : ""
	},
	"queries" : [
		{
			"name" : "",
			"url" : "",
			"notify" : ""
		}
	]
}